<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="TccWposMvx4.Droid.TccWposMvx4.Droid" android:installLocation="auto" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="TccWposMvx4.Droid"></application>
  <uses-permission android:name="android.permission.CAMERA" />
</manifest>